
#filter_form {

}

#filter_form #filter_input {
    width: 74%;
}

#filter_form #filter_input input {
    width: 100%;
}

#filter_form #filter_button {
    width: 25%;
}

#alert_msg {
    z-index: 100000;
    position: fixed;
    top: 70px;
    left: 50%;
    transform: translate(-50%, 0);
}
